*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
/* 기본설정 */

.header{
    display:flex;
    /* 검색이랑 목록 옆으로 구분시키기 */
    width:1280px;
    margin:auto;
    height:86px;
}
/* 상단부 전체 */

.searchArea{
    width: 300px;
    height: 40px;
    background: rgba(0,0,0,0.5);
    border-radius:5px;
    margin-top: 24px;
}
/* 검색창 설정 */


.searchArea > form > input{
    border:none;
    width:250px;
    height:40px ;
    background:rgba(0,0,0,0.0);
    padding-left: 10px;
}
/* 검색창 글자 입력 부분 설정 */

.searchArea > form > span{
    width:50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}
/* 검색창 검색 글자 부분 설정 */


.nav{
    display:flex;
    justify-content: flex-end;
    line-height: 86px;  
    width:calc(1280px - 300px);
}
/* 목록 설정 */

.nav > li{
    margin-left: 84px;
}
/* 목록끼리 설정-간격 */

.nav > li > a{
    color:#000;
}
/* 목록 글자 색 */

.gif{
    position: relative;
    left: 50px;
    top: 50px;
}